<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2>>Library Management System</h2>
<a href="/books">Books</a><br>
<a href="/members">Members</a><br>
<a href ="/category">Category</a><br><br>
<span th:if ="${userName} != null"> Welcome <span th:text = "${user.getName() + ' ' +user.getSurname() }"></span>
</span>

<a th:if="${user} != null" href ="/logout">Logout</a><br><br>
<a th:if="${user} == null" href="/login">Login</a><br><br>
<a th:if="${user} == null" href="/registerPage">Register</a>


</body>
</html>